page-login {
    .backgroundcolor{
        background-color: #203257;
    }
    .links{
        color:#FFFFFF;
    }
    .logincaja{
        background-color: transparent;
        color: #FFFFFF;
    }
    .footer{
        color: #FFFFFF;
        text-align: center;
    }

    .cis{
        height: 1px;
        background-color: #FFFFFF;
    }
}
