page-login {
    .backgroundcolor{
        background-color: #f2f3f5;
    }
    .links{
        color:#203257;
    }
    .logincaja{
        background-color: transparent;
        color: #203257;
    }
    .footer{
        color: #203257;
        text-align: center;
    }

    .in{
        padding-bottom: 0px;

    }
}
