progress-bar {

    .progress-outer {
        width: 100%;

        margin: 10px 2%;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }

    .progress-inner {
        min-width: 10%;
        max-width: 100%;
        border-radius: 10px;
        background-color:#203257;
    }

}
