page-perfil {
    .pomodoro {
        position: relative;
        background: white;
        height: 300px;
        color: white;
    }
    .sueldo {
        text-align: center
    }
    .centrado {
        text-align: center;
    }
    .sueldo.sueldo1 {
        text-align: center;
    }
    .sueldo1 {
        text-align: center;
    }
    .input-label {
        text-align: center;
    }
    .pomodoro {
        text-align: center
    }
    .input-label {
        color: #203257;
        text-align: center;
        font-weight: 1000;
        font-size: 16px;
    }
    .input-label2 {
        color: #203257;
        text-align: center;
    }
    .sueldo2 {
        text-align: center;
    }
    img {
        border-radius: 50%
    }
    .nombreEmpleado {
        text-align: center;
        padding-top: 10px;
    }
    #bloque {
        margin-left: auto;
        margin-right: auto;
        height: 170px;
        width: 170px;
        padding-bottom: 10px;
    }
    .avatarFrameOffLine {
      padding: 3%;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.36);
      /*
      -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.75);
      box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.75);*/
      -webkit-box-shadow: 0px 1px 11px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 11px -1px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 11px -1px rgba(0,0,0,0.75);
    }



    .flex-container {
      padding-top: 20px;
      display: flex;
      padding-right: 30px;
      width: 100%;
      justify-content: center;
      position: absolute;
      //border: 1px solid red;
    }
    .flex-container > div > img{
      width: 150px !important;
      height: 150px !important;
      text-align: center;
    }
    .input-label3 {
        text-align: center;
        color: #203257;
        font-weight: 1000;
    }
    .labels {
        font-size: 1.5rem;
        width: 250px;
        color: white;
        background-color: #203257;
        padding: 7px;
        border-radius: 25px
    }
    .labelsTitle {
        font-size: 12px;
        padding: 5px;
        border-radius: 25px
    }
    .puesto {
        color: white;
        font-size: 12px;
        background-color: #203257;
        padding: 5px;
        border-radius: 25px
    }
    .importe {
        color: #203257;
        text-align: center;
        font-weight: 1000;
        font-size: 25px;
    }

    .animationEntrada {
      animation-name: photoPerfil;
      animation-duration: 1.5s;
      animation-timing-function: ease;
    }

    @keyframes photoPerfil {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
}
