page-recuperar-password {

    .backgroundcolor{
        background-color: #f2f3f5;
    }
    .links{
        color:#203257;
    }

    .alinear{
        position: absolute;
        bottom: 0;
    }

    .logincaja{
        background-color: transparent;
        color: #203257;
    }
}
